<div class="col-lg-5">
    {% if basket %}
        <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
            Basket <span class="badge badge-secondary badge-pill">{{ basket.total_quantity }}</span>
        </h4>
        {% for basket_object in basket %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ basket_object.product.name }}</h5>
                <p class="card-text">{{ basket_object.product.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <input name="basketID" type="number" class="form-control"
                                   value="{{ basket_object.quantity }}" min="0">
                        </div>
                        <div class="col-lg-4">{{ basket_object.sum }} $$</div>
                        <div class="col-lg-4">
                            <a href="{% url 'remove_basket' basket_object.id user.id %}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}
        <div class="card mb-3">
            <div class="card-footer">
                <p class="float-left">Total</p>
                <h4 class="float-right">{{ basket.total_sum }} $$</h4>
            </div>
        </div>
        <a class="btn btn-success btn-lg float-right" href="orders/order-create.html">
            Place an order
        </a>
    {% else %}
        <h2> Basket is empty </h2>
    {% endif %}
</div>